{% extends "main/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="sub-padding" >Budget for December</h1>
  <br />

  <br />
  <div class="col-md-12">
    <div class="form-horizontal">
      <div class="form-group">
        <a href="#" type="button" class="btn btn-primary col-sm-2" class="form-control">Change budget</a>
        <div class="col-sm-2">
          <input type="text" placeholder="New budget" class="form-control" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2 style="text-align:left;font-size:60px;padding-top:30px;">{{ receipts|length }}</h2>
    <h2 style="text-align:left;font-size:16px;color:gray;font-weight:300;">number of shoppings this month</h2>
  </div>
  <div class="col-md-4">
    <h2 style="text-align:center;font-size:60px;padding-top:30px;">£{{ leftBudget|floatformat:2 }}</h2>
    <h2 style="text-align:center;font-size:16px;color:gray;font-weight:300;">is left from your monthly budget of £{{ spendingLimit|floatformat:2 }}</h2>
  </div>
  <div class="col-md-4 numwrapper">
    <h2 style="text-align:right;font-size:60px;padding-top:30px;">{{ items|length }}</h2>
    <h2 style="text-align:right;font-size:16px;color:gray;font-weight:300;">total items bought this month</h2>
  </div>

  <div class="progress budget-bar col-md-12" style="display:inline-block; margin-bottom:60px;">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
    </div>
    <p>  {{ percentage|floatformat:0 }}%</p>
  </div>

  <div class="col-md-12">
    <h3>Monthly shopping</h3>
  <div class="table-responsive">
  {% for receipt in receipts %}
  <div class="modal fade" id="{{ receipt.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ receipt.id }}Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="{{ receipt.id }}Label">{{ receipt.description }}</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Delete Item</th>
              </tr>
            </thead>
            <tbody>
              {% for item in receipt.receiptitem_set.all %}
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price|floatformat:2 }}</td>
                  <td><a type="button" class="btn btn-danger" href="/main/delete/receipt/{{ receipt.id }}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Store</th>
          <th>Total</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for receipt in receipts %}
        <tr>
          <td>{{ receipt.date }}</td>
          <td>{{ receipt.description }}</td>
          <td><a href="store">{{ receipt.store }}</a></td>
          <td>GBP {{ receipt.total|floatformat:2 }}</td>
          <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{ receipt.id }}">View Details</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>


{% endblock %}