{% extends "main/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">History <span class="sr-only">(current)</span></a></li>
        <li><a href="budget">Budget</a></li>
        <li><a href="statistics">Statistics</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1>Food Shopping</h1>
      <a href="#"><td><button type="button" class="btn btn-primary btn-lefttop">Go Back</button></td></a>  
      <h4 class="sub-header sub-padding">Tesco Express at 11.12.2015 at 9:46PM</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chicken Meat</td>
              <td>GBP 14.99</td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
            <tr>
              <td>Dog Food</td>
              <td>GBP 8.49</td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
            <tr>
              <td>Eidam Cheese 1250g</td>
              <td>GBP 27.00</td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
            <tr>
              <td><b>Total</b></td>
              <td><b>GBP 127.00</b></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}