{% extends "main/head.html" %}

{% block title %}My amazing blog{% endblock %}

{% block body %}

<div class="container">

  <form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %}
    {% if form.errors %}
      <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label_tag }} {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}

    <h4 class="formtext">Your username</h4>
    <label for="inputEmail" class="sr-only">Username</label>
    <div class="col-md-7">{{form.username}}</div>

    <h4 class="formtext">Your email</h4>
    <label for="inputEmail" class="sr-only">Email address</label>
    <div class="col-md-7">{{form.email}}</div>

    <h4 class="formtext">Your password</h4>
    <label for="inputPassword" class="sr-only">Password</label>
    <div class="col-md-7">{{form.password1}}</div>
    
    <h4 class="formtext">Confirm password</h4>
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <div class="col-md-offset-4 col-md-7">{{form.password2}}</div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Agree with shit
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-margintop" type="submit">Register</button>
    
  </form>
  <a href="/main/login"><button class="btn btn-lg btn-primary btn-block btn-goback">Go back</button></a>

</div> <!-- /container -->

{% endblock %}
