{% extends "main/head.html" %}

{% block title %}My amazing blog{% endblock %}


{% block body %}

<div class="container">
  <form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %} {% if form.errors %}
    <p>Invalid username and password combination</p>
    {% endif %}

    <h2 class="form-signin-heading">Sign In Page</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <div class="form-control">{{form.username}}</div>

    <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>  -->
    
    <label for="inputPassword" class="sr-only">Password</label>
    <div class="form-control">{{form.password}}</div>
    
    <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>  -->
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-margintop" type="submit">Sign in</button>
   
  </form>

   <a href="/main/register"><button class="btn btn-primary btn-block btn-reghere btn-lg">Register Here</button></a>

</div>

{% endblock %}