{% extends "main/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">History <span class="sr-only">(current)</span></a></li>
        <li><a href="budget">Budget</a></li>
        <li><a href="statistics">Statistics</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="sub-padding">Tesco Express shopping history</h1>
      <a href="base"><td><button type="button" class="btn btn-primary btn-lefttop">Go Back</button></td></a>
      <h4 class="sub-padding">Your Tesco Express shopping history</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Total</th>
              <th>View</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>11.12.2015 at 9:46PM</td>
              <td>Food Shopping</td>
              <td>GBP 14.50</td>
              <td><a href="/main/item"><button type="button" class="btn btn-success">View Details</button></a></td>
              <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
              <td>08.11.2015 at 11:15AM</td>
              <td>Bought some Shoes</td>
              <td>GBP 52.00</td>
              <td><button type="button" class="btn btn-success">View Details</button></td>
              <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
              <td>04.10.2013 at 01:47PM</td>
              <td>Doge, much wow</td>
              <td>GBP 1336.00</td>
              <td><button type="button" class="btn btn-success">View Details</button></td>
              <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}